<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <td>userid</td>
        <td>username</td>
        <td>Email</td>
        <td>Phone</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="c : ${user}">
        <td th:text="${c.userid}"></td>
        <td th:text="${c.username}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.phone}"></td>
      </tr>
    </tbody>
  </table>
</body>
 
</html>