<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="post">
    userid : <input type="text" id="userid" name="userid"> <br>
     username : <input type="text" id="username" name="username"> <br>
     password : <input type="password" id="password" name="password"> <br>
      email : <input type="text" id="email" name="email"> <br>
     phone : <input type="text" id="phone" name="phone"> <br>
    <button type="submit">등록</button>
</form>

</body>
</html>